body {
  font-family: 'Roboto', sans-serif;
}

.alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #a94442;
  background-color: #f5c0c0;
  border: .5px solid #eb798c;
}

input[type="text"],
input[type="password"] {
  width: 260px;
  padding: 10px 12px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}