Hello {{.FirstName}},
<br>
Looks like you've registered for an account with GoToGym!
<br>
<b>Here's how to get started:</b>
<br>
<ol>
  <li>Create an account with IFTTT</li>
  <li>Create a Google Calendar applet</li>
  <li>Register with your API key: {{.APIKey}}</li>
</ol>
