Hello {{.FirstName}},
<br>
Looks like you were scheduled to go to the gym today! Did you send up going between:
<br><br>
<hr>
<br>
<div style="font-size: 24px; text-align: center; font-weight: bold;">
  {{.StartTime}}
  <br>
  and
  <br>
  {{.EndTime}}
</div>
<br>
<hr>
<br>
Click below so it can be entered into your log:
<br><br>
<div style="font-size: 16px">
  <a href="{{.VerificationLink}}/yes">Yes, I was there!</a> | <a href="{{.VerificationLink}}/no">Nope, I'll go soon!</a>
</div>
