<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/c3@0.4.21/c3.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <style>
        #plot-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;
        }

        .plot-container {
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            text-align: center;
            vertical-align: middle;
        }

        .plot-title {
            padding: 10px 15px;
            border-bottom: 1px solid #d7d7d7;
            font-weight: bold;
        }

        .plot-box {
            height: 100%
        }

        .plot-3 {
            grid-column: span 3;
        }

        .plot-6 {
            grid-column: span 6;
        }

        @media (max-width: 1000px) {
            #plot-container {
                grid-template-columns: repeat(6, 1fr);
            }
            .plot-3 {
                grid-column: span 6;
            }
        }
    </style>
    <script src="//cdn.jsdelivr.net/d3js/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/c3@0.4.21/c3.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="container">
        <div id="plot-container">
            <div id="attendance-pct-gauge" class="plot-container plot-3 ">
                <div class="plot-title">
                    How frequently do I go to my scheduled workouts?
                </div>
                <div class="plot-box"></div>
            </div>
            <div id="attendance-plot" class="plot-container plot-6">
                <div class="plot-title">
                    How many workouts have I completed so far?
                </div>
                <div class="plot-box"></div>
            </div>
            <div id="monthly-missed-gauge" class="plot-container plot-3">
                <div class="plot-title">
                    How many workouts have I missed this month?
                </div>
                <div class="plot-box"></div>
            </div>
            <div id="attended-dow-pie-chart" class="plot-container plot-6">
                <div class="plot-title">
                    What day of the week do I go to the gym?
                </div>
                <div class="plot-box"></div>
            </div>
            <div id="missed-dow-pie-chart" class="plot-container plot-6">
                <div class="plot-title">
                    What day of the week do I miss going to the gym?
                </div>
                <div class="plot-box"></div>
            </div>
        </div>
    </div>
    <script src="/static/charts.js" type="text/javascript"></script>
    <script type="text/javascript">
        var dateFormat = d3.time.format("%B %-d, %Y at %-I:%M%p");
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
            'November', 'December'
        ];
        var dayOfWeekAttendedCounts = {
            "Sunday": 0,
            "Monday": 0,
            "Tuesday": 0,
            "Wednesday": 0,
            "Thursday": 0,
            "Friday": 0,
            "Saturday": 0
        }
        var dayOfWeekMissedCounts = Object.assign({}, dayOfWeekAttendedCounts);
        var daysOfWeek = Object.keys(dayOfWeekAttendedCounts)
        var now = new Date();
        var thisMonth = months[now.getMonth()];
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    visitData = JSON.parse(this.responseText)
                    if (visitData && visitData.length > 0) {
                        totalCount = visitData.length
                        attendedCount = 0
                        missedThisMonth = 0
                        totalThisMonth = 0
                        attendancePlotTimepoints = ["Time"]
                        attendancePlotCounts = ["Cumulative Attendance"]
                        for (visitIndex in visitData) {
                            visit = visitData[visitIndex]
                            visitMonth = visit.endTime.split(" ")[0]
                            timestamp = dateFormat.parse(visit.endTime)
                            dow = daysOfWeek[timestamp.getDay()]
                            if (visit.attendance == 1) {
                                attendedCount++
                                dayOfWeekAttendedCounts[dow]++
                            } else {
                                dayOfWeekMissedCounts[dow]++
                            }
                            if (thisMonth == visitMonth) {
                                totalThisMonth++
                                if (visit.attendance != 1) {
                                    missedThisMonth++
                                }
                            }
                            attendancePlotTimepoints.push(visit.endTime)
                            attendancePlotCounts.push(attendedCount)
                        }
                        generateGauge("#attendance-pct-gauge", 100 * attendedCount / totalCount);
                        generateMonthlyMissedGauge("#monthly-missed-gauge", missedThisMonth, totalThisMonth)
                        generateDayOfWeekPlot("#attended-dow-pie-chart", dayOfWeekAttendedCounts)
                        generateDayOfWeekPlot("#missed-dow-pie-chart", dayOfWeekMissedCounts)
                        generateAttendancePlot("#attendance-plot", [attendancePlotTimepoints, attendancePlotCounts])
                    } else {
                        alert("No data available yet, time to hit the gym!")
                    }
                } else {
                    document.getElementById("container").innerHTML = "<h2>Error: " + this.responseText +
                        "</h2>"
                    setTimeout(function () {
                        window.location = "/"
                    }, 1500)
                }
            }
        };
        xhttp.open("GET", "/api/visitlist/{{.APIKey}}", true);
        xhttp.send();
    </script>
</body>

</html>